[run]
source = .
omit = 
    TMSFTT/settings*.py,
    manage.py,
    */apps.py,
    TMSFTT/wsgi.py,
    TMSFTT/urls.py,
    mock_cas/*,
    data_migration/*,
    auth/authentication.py,
    secure_file/authentication.py,
