[MASTER]
load-plugins=pylint_django
jobs=0
disable=no-member

[BASIC]
ignore=migrations,settings.py,settings_dev.py,settings_ci.py,settings_prod.py,scripts
good-names=router,urlpatterns,TMSFTT,User
disable=too-many-ancestors

[MISCELLANDOUS]
notes=FIXME
